@import '~react-responsive-carousel/lib/styles/carousel.min.css';

.itempage{
    display: flex;
    margin: 20px 20px 20px 0px;
    /* flex-wrap: wrap; */
}
.carousel{
    width: 65%;
    /* border: 1px solid black; */
}
.carousel .thumbs-wrapper{
    text-align: center;
}
.itemDescription{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* box-shadow: 0px 5px 25px 0px rgb(204 204 204 / 75%); */
    background-color: #F3F3F3;
}
.details{
    color: black;
}
.attributes{
    color: #777777;
    font-size: 1.35rem;
    margin-left: 5px;
}
.ed-button{
    margin: 10px 0px ;
}
.ed-button>button{
    /* margin-right: 5px; */
    margin-left: 5px;
}

.carousel.carousel-slider{
    width: 60%;
    margin: auto;
}
.carousel .carousel{
    margin: auto;
}

.responses{
    margin: 10px 10px;
    display: inline-block;
}

@media(max-width:480px){
    .carousel{
        width: 100%;
    }
    .itempage{
        flex-wrap: wrap;
    }
}