body{
    /* margin: 0; */
    /* padding: 0; */
    /* font-family: sans-serif; */
    /* background: #355C7D; */
    /* background-image:  url(img/background.jpg); */
}
.Box-1{
    width: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2ddaa0;
    text-align: center;
    opacity: 0.6;
    border-radius: 3%;
}
/*.Box-1 h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.Box-1 input[type = "text"],.Box-1 input[ type = "Password"],.Box-1 input[ type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #03A9F4;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.Box-1 input[type = "text"]:focus,.Box input[ type = "Password"]:focus{
    width: 280px;
    border-color: #8BC34A;
}
.submit{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8BC34A;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.submit:hover{
    background: #8BC34A;
}*/
.row1{
    display: flex;
} 
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  /* background: #1C8EF9 !important; */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 15px;
  padding-top: 10px;
  color: #050505;
  margin: 0;
}

.forgot-password a {
  color: #042a5c;
}

.form-group{
    text-align: initial;
}